[program:filebeat]
user={{ filebeat_user }}
command={{ filebeat_install_dir }}/filebeat -c {{ filebeat_install_dir }}/filebeat.yml
autostart=true
autorestart=true
stdout_logfile={{ filebeat_log_dir }}/filebeat.out.log
stderr_logfile={{ filebeat_log_dir }}/filebeat.err.log
